<div id="stars"></div>
<section class="contact">
  <div class="contact-card">
    <div class="contact-container">
      <div class="text-container">
        <p>Contact</p>
        <span>us</span>
      </div>
      <form action="submit" class="form-container">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Name" />

        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="example@email.com"
        />

        <label for="message">Message</label>
        <textarea
          id="message"
          name="message"
          placeholder="Your message here"
        ></textarea>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
