<section class="about">
  <div id="stars"></div>
  <div class="left-container">
    <p class="main-text">SPACER</p>
    <p class="secondary-text">
      SPACER pioneers tourist space exploration, offering extraordinary
      experiences beyond traditional adventures. Our mission: democratize space,
      making cosmos accessible to all dreamers. With SPACER, you ignite a
      transformative journey, not just book a trip.
      <br /><br />
      Experience a unique odyssey with SPACER, where every detail ensures an
      unforgettable voyage. From boarding to weightlessness and distant
      galaxies, our team guarantees an immersive experience. Join our community
      for discovery and adventure. Whether seasoned or aspiring, all
      thrill-seekers are welcome. Explore cosmos with SPACER and redefine
      adventure. Stars await – ready to reach them?
    </p>
  </div>
  <div class="right-container">
    <img
      src="../../../assets/images/about/about-astronaut.webp"
      alt="astronaut image"
      class="astronaut-image"
    />
  </div>
</section>
