@import "../../../assets/styles/fonts";
@import "../../../assets/styles/stars";

.about {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.left-container {
  height: 50%;
  color: white;
  margin: 55px 18px 20px 18px;

  .main-text {
    font-family: $mainTextFont, sans-serif;
    font-size: 45px;
    z-index: 2;
  }

  .secondary-text {
    font-family: system-ui, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    z-index: 1;
  }
}

.right-container {
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .astronaut-image {
    width: 410px;
    height: 410px;
    margin-top: 10px;
    z-index: 1;
  }
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $createStars;
  animation: animStar 500s linear infinite;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}

#stars::after {
  content: "";
  position: absolute;
  top: auto;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $createStars;
  animation: animStar 300s linear infinite, twinkle 10s linear infinite;
  border-radius: 50%;
}

#stars::before {
  content: "";
  position: absolute;
  top: auto;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $createStars;
  animation: animStar 350s linear infinite, twinkle 25s linear infinite;
  border-radius: 50%;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    flex-direction: row;
    height: auto;
    overflow: hidden;
  }

  .left-container {
    height: 100%;
    width: 50%;
    margin: 55px 16px 20px 16px;

    .main-text {
      margin: 80px 0 0 40px;
      font-size: 107px;
    }

    .secondary-text {
      margin-left: 40px;
      font-size: 23px;
      font-weight: 200;
    }
  }
  .right-container {
    height: 100%;
    width: 50%;

    .astronaut-image {
      width: 950px;
      height: 619px;
      margin-top: 100px;
    }
  }
  #mask {
    animation: rotation 250s infinite linear;
  }
}

@media screen and (min-width: 1500px) {
  .section-container {
    height: auto;
  }

  .left-container {
    .main-text {
      font-size: 137px;
    }

    .secondary-text {
      font-size: 35px;
    }
  }

  .right-container {
    .astronaut-image {
      width: 850px;
      height: 819px;
      margin-top: 260px;
    }
  }
  #mask {
    animation: rotation 280s infinite;
  }
}
