<section class="about">
  <div id="stars"></div>
  <div class="left-container">
    <p class="main-text">SPACER</p>
    <p class="secondary-text">
      SPACER is a leading company in tourist space exploration, offering
      unparalleled space travel experiences. Our mission is to redefine
      adventure and make space exploration a reality for all who seek the
      ultimate adventure. Join us at SPACER and embark on an extraordinary
      journey beyond Earth's atmosphere.
    </p>
  </div>
  <div class="right-container">
    <img
      src="../../../assets/images/about/about-astronaut.webp"
      alt="astronaut image"
      class="astronaut-image"
    />
  </div>
</section>
