<header>
  <section class="header-nav">
    <div>
      <img
        src="assets/images/header/spacer-logo.png"
        alt="spacer logo"
        class="logo"
        routerLink="/"
      />
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>
    <ul class="menu">
      <li routerLink="/planets">Planets</li>
      <li>About</li>
      <li routerLink="/contact">Contact</li>
      <li routerLink="/">Home</li>
    </ul>
  </section>
</header>
