@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/stars";

.section-container {
  width: 100%;
  height: auto;
  background-color: black;
  border-top: 1px dashed rgba(255, 255, 255, 0.363);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.left-container {
  height: 50%;
  color: white;
  margin: 55px 18px 20px 18px;

  .main-text {
    font-family: $mainTextFont, sans-serif;
    font-size: 45px;
  }

  .secondary-text {
    font-family: system-ui, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
  }
}

.right-container {
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .planet-image {
    width: 410px;
    height: 410px;
    border-radius: 60%;
    margin-top: 10px;
    z-index: 2;
  }
}

#mask {
  filter: drop-shadow(0 0 2rem rgb(112, 23, 22));
  animation: rotation 190s infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media screen and (min-width: 1024px) {
  .section-container {
    flex-direction: row;
    height: auto;
    overflow: hidden;
  }

  .left-container {
    height: 100%;
    width: 50%;
    margin: 55px 16px 20px 16px;

    .main-text {
      margin: 80px 0 0 40px;
      font-size: 107px;
    }

    .secondary-text {
      margin-left: 40px;
      font-size: 21px;
      font-weight: 200;
    }
  }
  .right-container {
    height: 1000%;
    width: 50%;

    .planet-image {
      width: 650px;
      height: 619px;
      margin-top: 200px;
    }
  }
  #mask {
    animation: rotation 260s infinite;
  }
}

@media screen and (min-width: 1500px) {
  .section-container {
    height: auto;
    overflow: hidden;
  }

  .left-container {
    .main-text {
      font-size: 137px;
    }

    .secondary-text {
      font-size: 35px;
    }
  }

  .right-container {
    .planet-image {
      width: 850px;
      height: 819px;
      margin-top: 260px;
    }
  }
  #mask {
    animation: rotation 290s infinite;
  }
}
