<section class="home">
  <div id="stars"></div>
  <div class="home__left-section">
    <div class="content-container">
      <div class="main-text">
        <p class="first-content">SPACE</p>
        <p class="second-content">EXPLORATION</p>
      </div>
      <p class="secondary-text-content">
        The ongoing discovery and exploration of celestial structures in outer
        space by means of continuously evolving and growing space technology
      </p>
      <button class="primary-button">
        <span> Contact Us </span>
      </button>
    </div>
  </div>
  <div class="home__right-section">
    <div class="images-container">
      <img
        src="../../../assets/images/planets/earth.webp"
        alt="earth image"
        class="planet-image"
        id="mask"
      />
      <img
        src="../../../assets/images/home/astronaut.webp"
        alt="astronaut image"
        class="astronaut-image"
      />
    </div>
  </div>
</section>
