<section class="section-container">
  <div id="stars"></div>

  <div class="left-container">
    <p class="main-text">MERCURY</p>
    <p class="secondary-text">
      Mercury is the smallest and innermost planet in the Solar System. Its
      orbit around the sun takes 87.97 days, the shortest of all the planets in
      the Solar System. It is named after the Roman deity Mercury, the messenger
      of the gods.
      <br />
      <br />
      Mercury's surface is a rugged landscape covered in tens of thousands of
      impact craters, showcasing its ancient history. From the surface, the Sun
      appears more than three times larger than from Earth, casting intense
      sunlight up to 11 times brighter.
    </p>
  </div>
  <div class="right-container">
    <img
      src="../../../../assets/images/planets/mercury.webp"
      alt="Planet Mercury"
      class="planet-image"
      id="mask"
    />
  </div>
</section>
