@import "../../../assets/styles/stars";

.section-container {
  width: 100%;
  height: auto;
  background-color: black;
  border-top: 1px dashed rgba(255, 255, 255, 0.363);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $createStars;
    animation: animStar 500s linear infinite;
    border-radius: 50%;
    z-index: 1;
  }

  #stars::after {
    content: "";
    position: absolute;
    top: auto;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $createStars;
    animation: animStar 300s linear infinite, twinkle 10s linear infinite;
    border-radius: 50%;
  }

  #stars::before {
    content: "";
    position: absolute;
    top: auto;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $createStars;
    animation: animStar 350s linear infinite, twinkle 25s linear infinite;
    border-radius: 50%;
  }

  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }

  @keyframes twinkle {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
