@font-face {
  font-family: "Microsoft JhengHei UI";
  src: url("../fonts/msjh_0.ttf") format("truetype");
}

@font-face {
  font-family: "Nebulosa Black";
  src: url("../fonts/NebulosaBlackDisplayStencil.otf") format("truetype");
}

$primaryFont: "Microsoft JhengHei UI";
$mainTextFont: "Nebulosa Black";
